<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="specFlow" type="TechTalk.SpecFlow.Configuration.ConfigurationSectionHandler, TechTalk.SpecFlow"/>
  </configSections>
  <appSettings>
    <add key="baseUrl" value="http://test.salesforce.com/"/>
    <!-- Choose browser: Chrome, IE, Firefox -->
    <!-- Firefox is having troubles with displaying some SELECT elements (it displays it in additional <span>) which causes selectors to fail!-->
    <add key="browser" value="IE"/>
    <add key="eventOwner" value=""/>
    <add key="eventOwnerPassword" value=""/>
    <add key="engagementOwner" value=""/>
    <add key="engagementOwnerPassword" value=""/>
    <add key="HCPCoordinator" value=""/>
    <add key="HCPCoordinatorPassword" value=""/>
    <add key="lineManager" value=""/>
    <add key="lineManagerPassword" value=""/>
    <add key="agencyContributor" value=""/>
    <add key="agencyContributorPassword" value=""/>
    <add key="hcpFormID" value="0011940"/>
    <!-- Send email after tests finish/fail -->
    <add key="sendEmailAfterComplete" value="No"/>
    <add key="emailToSendTo" value="some@gmail.com"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
  <startup>
    
  <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
  <specFlow>
    <!-- For additional details on SpecFlow configuration options see http://go.specflow.org/doc-config -->
    <unitTestProvider name="NUnit"/>
  </specFlow>
</configuration>
